@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #fff; /* White background */
}

::-webkit-scrollbar-thumb {
  background-color: #808080; /* Grey thumb */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666; /* Slightly darker grey on hover */
}

/* For Firefox */
scrollbar-width: thin;
scrollbar-color: #808080 #fff;

/* For IE and Edge */
-ms-overflow-style: none;
scrollbar-color: #808080 #fff;